<!doctype html>
<head>
	<meta charset="utf-8">
	<title>Destroy {{ course.course_name }}?</title>
	<link rel='stylesheet' type='text/css' href='/static/css/destroy.css'>
</head>
<body>
	<div id='wrapper'>
		<h2>Are you sure you want to delete the following course?</h2>
		<p>Name: {{ course.course_name }}</p>
		<p>Description: {{ course.description }}</p>
		<form action='/'>
			<input type='submit' value='No' class='no'>
		</form>
		<form action='/remove/{{ course.id }}' method='post'>
			<input type='submit' value='Yes! I want to delete this' class='delete'>
		</form>
	</div>
</body>
</html>